<!-- 
 File: app.component.html
 Author: Gubis Zsombor Dániel
 Copyright: 2022, Gubis Zsombor Dániel
 Group: Szoft_II_N
 Date: 2022-11-25
 Github: https://github.com/Zsomi4/
 Licenc: GNU GPL
 -->
 <form>
    <div class="mb-3">
      <label for="" class="form-label">A oldal</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="" class="form-label">B oldal</label>
      <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Számítás</button>
  </form>